:root {
  --clr-bg-darkest: hsl(200, 9%, 12.5%);
  --clr-bg-darker: hsl(206, 9%, 14%);
  --clr-bg-dark: hsl(214, 7%, 16.75%);

  --clr-white: #eaebec;
  --clr-light-gray: #adbbc4;
  --clr-gray: #99aab5;

  --clr-blue: teal;
  --clr-green: #1b8f46;
  --clr-red: #c02e2b;
}

body {
  font-family: var(--font-inter);
  background: var(--clr-bg-darker);
  color: var(--clr-white);
}

::-webkit-scrollbar {
  background: var(--clr-bg-darker);
  border-radius: 100vmax;
  width: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-gray);
  border-radius: 100vmax;
}
